services:
  fbref_exporter:
    container_name: fbref_exporter
    build:
      context: ./exporter
      dockerfile: Dockerfile
    image: fbref_exporter:latest
    restart: unless-stopped
    ports:
      - "9101:9101"
    networks:
      - monitoring

  prometheus:
    container_name: prometheus
    image: prom/prometheus:latest
    restart: unless-stopped
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - prom_data:/prometheus
    depends_on:
      - fbref_exporter
    networks:
      - monitoring

  grafana:
    container_name: grafana
    image: grafana/grafana:latest
    restart: unless-stopped
    ports:
      - "3000:3000"
    env_file:
      - .env
    environment:
      GF_SECURITY_ADMIN_USER: ${GRAFANA_ADMIN_USER}
      GF_SECURITY_ADMIN_PASSWORD: ${GRAFANA_ADMIN_PASSWORD}
      GF_INSTALL_PLUGINS: grafana-piechart-panel,grafana-polystat-panel
    volumes:
      # Datasource provisioning
      - ./grafana/provisioning/datasources:/etc/grafana/provisioning/datasources
      # Dashboard provisioning
      - ./grafana/provisioning/dashboards:/etc/grafana/provisioning/dashboards
      # Actual dashboard JSON files
      - ./grafana/dashboards:/var/lib/grafana/dashboards
      # Grafana state (users, sessions, etc)
      - grafana_data:/var/lib/grafana
    depends_on:
      - prometheus
    networks:
      - monitoring

networks:
  monitoring:

volumes:
  grafana_data:
  prom_data:
